*{
    margin: 0px;
    padding: 1px;
    margin-top: 10px;
    
}
textarea{
    resize: none;
}
li{
    list-style-position: inside;
}
header{
    background-color: red;
    color: white;
    text-align: left;
    margin-top: 0px;
}
#head{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}
#top{
    text-align: left;
}
.title{
    text-align: left;
    background-color:rgb(185, 177, 177);
}
#form-2{
    /* text-align:center; */
    padding: 0px 450px;
    padding-top: 0px;
}
.cont{
    background-color:rgb(236, 230, 230);
    padding-top: 0px;
}
.button{
    color: white;
    background: red;
    padding: 3px 10px;
    border-radius: 5px;

}
#buttons{
    padding-bottom: 10px;
}
#tb{
    border-collapse: collapse;
}
#fld{
    background-color: rgb(170, 126, 72);
}
#f-6{
    text-align: left;
}
#f-8{
    background-color: aqua;
}
#f-9{
    background-color: rgb(209, 62, 62);
    padding: 100px 300px;
}
#fld-9{
    background-color: rgb(94, 16, 16);
    color: white;
}